//<Connecting fonts>=================================================================
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&display=swap");
//<Connecting fonts>=================================================================

//<Defoult font>=================================================================
$fontfamily: "Lato";
//<Defoult font>=================================================================

//<Variables>=================================================================
$minwidth: 320px;
//<Variables>=================================================================

//<Connecting reset styles>=================================================================
@import "_reset-style";
//<Connecting reset styles>=================================================================

//<Wrapper>=================================================================
.wrapper {
  overflow: hidden;
  min-height: 100%;
}
//<Wrapper>=================================================================

//<MAIN GRID>=================================================================
.container {
  max-width: 1160px;
  padding: 0px 15px;
  margin: 0px auto;
}
//<MAIN GRID>=================================================================

//<CONNECTING FILES STYLES PAGES AND ELEMENTS>=================================================================
@import "_ui.scss";
@import "../scss/_mixin.scss";
@import "_variables";
//<CONNECTING FILES STYLES PAGES AND ELEMENTS>=================================================================

//< START MAIN BLOCK >=================================================================
.page {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  display: flex;
  flex-direction: column;
  &.lock {
    overflow: hidden;
  }
}

.main-screen {
  flex: 1 0 100%;
  position: relative;
  &__bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
  }
}

//< END MAIN BLOCK >=================================================================
//< START HEADER >=================================================================
.header {
  position: absolute;
  width: 100%;
  z-index: 50;
  top: 35px;
  left: 0;

  &__row {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 110px;
  }

  &__menu {
  }

  &__logo {
    position: absolute;
    top: 0px;
    left: 50%;
    z-index: 2;
    transform: translate(-55px, 0);
  }
  @media (max-width: 767px) {
    top: 15px;
  }
}
.menu {
  &__icon {
  }

  &__body {
  }

  &__list {
    display: flex;
    li {
      position: relative;
      padding: 0px 40px;
      &:nth-child(2) {
        padding: 0px 80px 0px 40px;
      }
      &:nth-child(3) {
        padding: 0px 40px 0px 80px;
      }
      &::after {
        content: "";
        width: 3px;
        height: 3px;
        background-color: $dark;
        border-radius: 50%;
        position: absolute;
        right: 0;
        top: 50%;
        margin: -2px 0px 0px 0px;
      }
      &:nth-child(2),
      &:last-child {
        &::after {
          display: none;
        }
      }
    }
  }

  &__link {
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    color: $dark;
    text-transform: uppercase;
  }

  @media (max-width: 767px) {
    &__body {
      position: fixed;
      width: 100%;
      height: 100%;
      top: -100%;
      left: 0px;
      background-color: $telegrey;
      padding: 150px 0px 20px 0px;
      transition: all 0.3s ease 0s;
      &.active {
        transition: all 0.3s ease 0s;
        top: 0;
        overflow: auto;
      }
    }
    &__list {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      li {
        padding: 0px 0px 45px 0px;
        &:nth-child(2),
        &:nth-child(3) {
          padding: 0px 0px 45px 0px;
          &::after {
            display: block;
          }
        }
        &:last-child {
          padding: 0;
        }
        &::after {
          width: 3px;
          height: 3px;
          background-color: $smoky;
          right: 50%;
          top: 40px;
        }
      }
    }
    &__link {
      color: $smoky;
      font-size: 20px;
    }
  }
}

.icon-menu {
  display: none;
  @media (max-width: 767px) {
    display: block;
    position: absolute;
    top: 0px;
    right: 25px;
    width: 30px;
    height: 18px;
    cursor: pointer;
    margin: 47px 0px 0px 0px;
    z-index: 5;
    span {
      top: 8px;
      left: 0;
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: $dark;
      transition: all 0.3s ease 0s;
      &:first-child {
        top: 0px;
      }
      &:last-child {
        top: 16px;
      }
    }
    &.active {
      span {
        background-color: $smoky;
        transform: scale(0);
        transition: all 0.3s ease 0s;
        &:first-child {
          transform: rotate(-45deg);
          top: 8px;
        }
        &:last-child {
          transform: rotate(45deg);
          top: 8px;
        }
      }
    }
  }
}

.link-menu-1 {
  letter-spacing: 3.6px;
}
.link-menu-2 {
  letter-spacing: 7.9px;
}
.link-menu-3 {
  letter-spacing: 3px;
}
//< END HEADER >=================================================================
//< START CONTENT >=================================================================
.content {
}
.introduction {
  background: linear-gradient(to right, $smoky, $white, $smoky);
  padding: 115px 0px 102px 0px;
  &__block {
  }
  @media (max-width: 1000px) {
    padding: 50px 0px;
  }
  @media (max-width: 500px) {
    padding: 40px 0px;
  }
}
.block {
  text-align: center;
  &__icon {
    margin: 0px 0px 45px 0px;
  }

  &__title {
    margin: 0px 0px 20px 0px;
    font-weight: bold;
    font-size: 23px;
    line-height: 28px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: $antracit;
  }

  &__text {
    font-size: 18px;
    line-height: 35px;
    letter-spacing: 1px;
    color: $antracit;
    &_j {
      font-size: 16px;
      text-align: justify;
      &::after {
        content: "";
        display: block;
        margin: 35px auto 0 auto;
        width: 50px;
        height: 1px;
        background-color: $telegrey;
      }
    }
  }
  @media (max-width: 1400px) {
    &__icon {
      margin: 0px 0px 30px 0px;
    }
    &__title {
      margin: 0px 0px 15px 0px;
    }
    &__text {
      line-height: 30px;
      &_j {
        &::after {
          margin: 15px auto 0 auto;
        }
      }
    }
  }
  @media (max-width: 1200px) {
    &__icon {
      margin: 0px 0px 20px 0px;
    }
    &__title {
      margin: 0px 0px 10px 0px;
    }
    &__text {
      line-height: 25px;
      &_j {
        &::after {
          margin: 10px auto 0 auto;
        }
      }
    }
  }
}

//========================================================================
.pupets {
  &__rev {
    .pupets__column {
      order: 1;
      &_b {
        order: 2;
      }
    }
  }
  &__row {
    display: flex;
  }

  &__column {
    flex: 0 1 33.333%;

    &_b {
      flex: 0 1 66.667%;
    }
  }

  &__item {
    position: relative;
    display: block;
    height: 100%;
  }

  &__content {
    padding: 68px 65px 55px 65px;
  }

  &__image {
    padding: 0px 0px 33.335% 0px;
  }
  @media (max-width: 1400px) {
    &__content {
      padding: 48px 45px 35px 45px;
    }
  }
  @media (max-width: 1000px) {
    &__row {
      flex-direction: column;
    }
    &__rev {
      .pupets__column {
        order: 2;
        &_b {
          order: 1;
        }
      }
    }
  }
}
.item {
  height: 100%;
  display: block;
  position: relative;
  &__logo {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    display: flex;
    transition: all 0.3s ease 0s;
    justify-content: center;
    align-items: center;
    background: rgba(65, 105, 225, 0.5);
    z-index: 2;
    opacity: 0;
    visibility: hidden;
  }

  &__image {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
  }

  &:hover {
    .item__logo {
      opacity: 1;
      visibility: visible;
    }
  }

  @media (max-width: 1000px) {
    padding: 0px 0px 42% 0px;
  }
}
.block {
  &__icon {
  }

  &__title {
  }

  &__text {
  }
}

//=================================================================================
.testimonials {
  background: linear-gradient(to right, $smoky, $white, $smoky);
  padding: 102px 0px 130px 0px;
  &__block {
  }

  &__card {
  }
  @media (max-width: 1000px) {
    padding: 40px 0px 50px 0px;
  }
  @media (max-width: 500px) {
    padding: 30px 0px 50px 0px;
  }
}
.card {
  text-align: center;
  &__icon {
    margin: 0px 0px 35px 0px;
  }

  &__title {
    font-size: 23px;
    font-weight: 700;
    letter-spacing: 1px;
    margin: 0px 0px 57px 0px;
    color: $antracit;
    span {
      font-weight: 400;
      color: $telegrey;
    }
  }

  &__text {
    font-size: 18px;
    line-height: 35px;
    letter-spacing: 1px;
    color: $telegrey;
  }
  @media (max-width: 1000px) {
    &__icon {
      margin: 0px 0px 20px 0px;
    }
    &__title {
      margin: 0px 0px 30px 0px;
    }
  }
  @media (max-width: 500px) {
    &__title {
      margin: 0px 0px 20px 0px;
    }
  }
}
//< SLIDER >==============================================================
/* Слайдер */
.slick-slider {
  position: relative;
  /* Ограничивающая оболочка */
  .slick-list {
    overflow: hidden;
  }
  /* Лента слайдов */
  .slick-track {
    display: flex;
    align-items: flex-start;
  }
  /* Точки (булиты) */
  .slick-dots {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 67px 0px 0px 0px;
    li {
      margin: 0px 5px;
      button {
        font-size: 0;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background-color: transparent;
        border: 2px solid $antracit;
      }
      &.slick-active {
        button {
          background-color: $antracit;
        }
      }
    }
    @media (max-width: 1000px) {
      padding: 0px;
    }
  }
}
//< SLIDER >==============================================================
.show {
  &__body {
    display: flex;
  }

  &__column {
    flex: 0 1 16.667%;
    &_b {
      flex: 0 1 33.333%;
    }
  }

  &__block {
  }

  &__footer {
  }

  &__btn {
  }
  @media (max-width: 1000px) {
    &__body {
      flex-wrap: wrap;
    }
    &__column {
      flex: 0 1 50%;
      &:first-child {
        flex: 1 1 100%;
      }
      &:last-child {
        flex: 1 1 100%;
      }
    }
  }
}
.block-show {
  display: block;
  height: 100%;
  &__row {
    display: flex;
  }

  &__column {
    flex: 0 1 50%;
  }

  &__item {
    display: block;
    height: auto;
    padding: 0px 0px 50% 0px;
    &_b {
      padding: 0px 0px 200% 0px;
    }
    &_l {
      padding: 0px 0px 100% 0px;
    }
  }
}

//< END  CONTENT >=================================================================
//< END MAIN BLOCK >=================================================================

//< START FOOTER >=================================================================

.footer {
  &__row {
    display: flex;
  }

  &__rights {
  }

  &__social {
  }

  &__list {
  }

  &__adress {
  }
}
.social {
  &__list {
    display: flex;
  }

  &__link {
  }
}
//< END FOOTER >=================================================================

// burger of one spans
/* 
.icon-menu {
  display: none;
  @media (max-width: 767px) {
    display: block;
    position: absolute;
    top: 0px;
    right: 25px;
    width: 30px;
    height: 18px;
    cursor: pointer;
    margin: 25px 0px 0px 0px;
    z-index: 5;
    span {
      top: 8px;
      left: 0;
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: $dark;
      transition: all 0.3s ease 0s;
      &:first-child {
        top: 0px;
      }
      &:last-child {
        top: auto;
        bottom: 0px;
      }
    }
    &.active {
      span {
        background-color: #fff;
        transform: scale(0);
        &:first-child {
          transform: rotate(-45deg);
          top: 8px;
        }
        &:last-child {
          transform: rotate(45deg);
          bottom: 8px;
        }
      }
    }
  }
}  
*/
