@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&display=swap");
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-size: 14px;
  font-family: "Lato";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Lato";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

/*--------------------*/
.wrapper {
  overflow: hidden;
  min-height: 100%;
}

.container {
  max-width: 1160px;
  padding: 0px 15px;
  margin: 0px auto;
}

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.ibg img {
  display: none;
}

/* .ibg img {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  object-position: top;
} */
.ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

.page {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.page.lock {
  overflow: hidden;
}

.header {
  position: absolute;
  width: 100%;
  z-index: 50;
  top: 35px;
  left: 0;
}

.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 110px;
}

.header__logo {
  position: absolute;
  top: 0px;
  left: 50%;
  z-index: 2;
  -webkit-transform: translate(-55px, 0);
          transform: translate(-55px, 0);
}

@media (max-width: 767px) {
  .header {
    top: 15px;
  }
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__list li {
  position: relative;
  padding: 0px 40px;
}

.menu__list li:nth-child(2) {
  padding: 0px 80px 0px 40px;
}

.menu__list li:nth-child(3) {
  padding: 0px 40px 0px 80px;
}

.menu__list li::after {
  content: "";
  width: 3px;
  height: 3px;
  background-color: #4d4d4d;
  border-radius: 50%;
  position: absolute;
  right: 0;
  top: 50%;
  margin: -2px 0px 0px 0px;
}

.menu__list li:nth-child(2)::after, .menu__list li:last-child::after {
  display: none;
}

.menu__link {
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
  color: #4d4d4d;
  text-transform: uppercase;
}

@media (max-width: 767px) {
  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    top: -100%;
    left: 0px;
    background-color: #7e8185;
    padding: 150px 0px 20px 0px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .menu__body.active {
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    top: 0;
    overflow: auto;
  }
  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .menu__list li {
    padding: 0px 0px 45px 0px;
  }
  .menu__list li:nth-child(2), .menu__list li:nth-child(3) {
    padding: 0px 0px 45px 0px;
  }
  .menu__list li:nth-child(2)::after, .menu__list li:nth-child(3)::after {
    display: block;
  }
  .menu__list li:last-child {
    padding: 0;
  }
  .menu__list li::after {
    width: 3px;
    height: 3px;
    background-color: #dcdcdc;
    right: 50%;
    top: 40px;
  }
  .menu__link {
    color: #dcdcdc;
    font-size: 20px;
  }
}

.icon-menu {
  display: none;
}

@media (max-width: 767px) {
  .icon-menu {
    display: block;
    position: absolute;
    top: 0px;
    right: 25px;
    width: 30px;
    height: 18px;
    cursor: pointer;
    margin: 47px 0px 0px 0px;
    z-index: 5;
  }
  .icon-menu span {
    top: 8px;
    left: 0;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #4d4d4d;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .icon-menu span:first-child {
    top: 0px;
  }
  .icon-menu span:last-child {
    top: 16px;
  }
  .icon-menu.active span {
    background-color: #dcdcdc;
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .icon-menu.active span:first-child {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: 8px;
  }
  .icon-menu.active span:last-child {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 8px;
  }
}

.link-menu-1 {
  letter-spacing: 3.6px;
}

.link-menu-2 {
  letter-spacing: 7.9px;
}

.link-menu-3 {
  letter-spacing: 3px;
}

.main-screen {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 100%;
          flex: 1 0 100%;
  position: relative;
}

.main-screen__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
}

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33.333%;
          flex: 1 1 33.333%;
}

.social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* 
.icon-menu {
  display: none;
  @media (max-width: 767px) {
    display: block;
    position: absolute;
    top: 0px;
    right: 25px;
    width: 30px;
    height: 18px;
    cursor: pointer;
    margin: 25px 0px 0px 0px;
    z-index: 5;
    span {
      top: 8px;
      left: 0;
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: $dark;
      transition: all 0.3s ease 0s;
      &:first-child {
        top: 0px;
      }
      &:last-child {
        top: auto;
        bottom: 0px;
      }
    }
    &.active {
      span {
        background-color: #fff;
        transform: scale(0);
        &:first-child {
          transform: rotate(-45deg);
          top: 8px;
        }
        &:last-child {
          transform: rotate(45deg);
          bottom: 8px;
        }
      }
    }
  }
}  
*/
/*# sourceMappingURL=style.css.map */